In [17]:
import pathlib
import json
from collections import Counter
from IPython.display import clear_output
import re
import cv2
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

In [3]:
corpus = Counter()
js_files = list(pathlib.Path(r'C:\Users\Atlas\Desktop\Sinalboard_OCR\dataset\train\label\custom').iterdir())
for i,js in enumerate(js_files):
    print(i)
    label = json.loads(js.read_text(encoding='utf8'))
    for bbox in label['bboxes']:
        corpus.update(bbox['text'])
    clear_output(wait=True)
print('Finish')

Finish

In [26]:
corpus = pd.Series(corpus).reset_index()
corpus.columns = ['character','count']
corpus = corpus.sort_values('character')
corpus = corpus.reset_index(drop=True)
corpus

     character  count
0            !      5
1            "      4
2            #  63417
3            $     66
4            %     45
...        ...    ...
3637         ﹁      1
3638         ﹂      1
3639         ｡      2
3640         𣛮      2
3641         𩵚      2

[3642 rows x 2 columns]

In [27]:
symbols = corpus.loc[corpus['character'].apply(lambda x:bool(re.match('[^\u4e00-\u9fa5a-zA-Z0-9]',x)))]
symbols

     character  count
0            !      5
1            "      4
2            #  63417
3            $     66
4            %     45
5            &     65
6            '    143
7            (    505
8            )    504
9            *      1
10           +     40
11           ,     46
12           -   3931
13           .    645
14           /    372
25           :   1663
26           ;      1
27           ?      2
28           @      5
55           [      2
56           \      6
57           ]      2
58           _      5
85           |     16
86           ~    182
87           °      1
88           é      3
89           –      6
90           —      1
91           ‧      2
92           ℃      3
93           ─      1
94           ◆      3
95           ○      1
96           、     88
97           。      1
98           〇      4
99           》      2
100          「      1
101          」      1
102          䥶      2
3637         ﹁      1
3638         ﹂      1
3639         ｡      2
3640         𣛮      2
3641         𩵚      2